//@import 'code.less';

@import 'bootstrap-without-glyphicons.less';

@import '../../vendor/pretty-print/google-code-prettify/src/prettify.css';
//@import '../../vendor/pretty-print/google-code-prettify/styles/desert.css';
// pre.prettyprinted {
//    background-color: #333;
// }

.mark-red {
  background-color: red;
}
.mark-green {
  background-color: green;
}
.mark-yellow {
  background-color: yellow;
}
.mark-blue {
  background-color: blue;
}